* {
    font-family: 'Righteous', cursive;
}

body {
    background-color: rgb(54 100 116);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

header {
    background-color: rgb(5 9 38);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    width: 50px;
    height: 55px;
    border-radius: 60%;
    margin: 5px 5px;
 
}

header ul {
    display: flex;
    gap: 100px;
}

nav ul li {
    background-color: rgb(0, 71, 71);
    margin: 5px;
    display: inline-block;
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    margin-right: 60px;
    border-radius: 60%;
    margin-left: 120px;
}

a {
    color: #fffbf3;
    text-decoration: underline ;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    width: 80%;
    gap: 20px;
}

main section {
    display: flex;
    gap: 20px;
    
}

main img {
    width: 250px;
    border-radius: 17%;
    box-shadow: -1px 0px 13px 5px rgb(0, 0, 0);
}

main section nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

nav ul li {
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    border-radius: 60%;
}

main nav ul li {
    background-color: rgb(92 132 15);
    font-family: 'Righteous', cursive;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    height: 60px;
    box-shadow: 4px 4px 15px 5px rgb(0 0 0);
}


main form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

input[type="text"] {
    padding: 10px
}

input[type="email"] {
    padding: 10px;
}

textarea {
    padding: 25px;
}

input[type="submit"] {
    background-color: #0baef2;
    border-radius: 10px;
}

footer {
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    
}


#copy-right, #social-media {
    color: azure;

}

