* {
    font-family: 'Righteous', cursive;
}

body {
    background-color: rgb(87, 34, 34);
}

header {
    background-color: rgb(34, 34, 34);
    position: absolute;
    width: 100%;
    top: 0;
    
}

header div img {
    width: 50px;
    height: 55px;
    border-radius: 60%;
    margin: 5px 5px;
    float: left;
 
}

nav ul li {
    background-color: rgb(0, 71, 71);
    margin: 5px;
    display: inline-block;
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    margin-right: 60px;
    border-radius: 60%;
    margin-left: 120px;
}

a {
    color: #fffbf3;
    text-decoration: underline ;
}

main p {
    display: inline-block;
    background-color: rgb(92 132 15);
    font-family: fantasy;
    border-radius: 5%;
    margin-top: 10%;
    margin-left: 6%;
    block-size: 100px;
    font-size: 30px;
    box-shadow: o 1px 1px 1px black;
    box-shadow: 3px 5px 15px 4px black;
    width: 78%;
    padding: 30px;
    text-align: center;
}

body main table {
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

table {
    text-align: center;
    border-radius: 10%;
    margin-top: 2%;
    margin-left: 6%;
    margin-bottom: 3%;
    box-shadow: blue;
    box-shadow: 5px 8px 19px 5px black;
    width: 87%;
}
td, th {
    border: 3px solid black;
    padding: 10px;
}

td {
    text-align: left;
    height: 120px;
    vertical-align: middle;
    font-size: 30px;
}

th {
    color: rgb(174, 9, 9);
    font-size: 50px;
}

footer {
    background-color: rgb(34, 34, 34);
    width: 100%;
    bottom: 0;
    height: 100%;
    margin-bottom: 0;
}

footer div img {
    width: 50px;
    height: 55px;
    border-radius: 60%;
    margin: 5px 5px;
    float: left;

}
footer div {
  height: 40px;
    display: inline-block;
   
}

footer p, i {
    display: inline-block;
    background-color: rgb(83, 83, 197);
    
    
}

div#copy-right {
    margin-right: 10px;
}

p {
    margin-left: 150px;
}

