* {
    font-family: 'Righteous', cursive;
}

body {
    background-color: rgb(54 100 116);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

header {
    background-color: rgb(5 9 38);
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div img {
    width: 50px;
    height: 55px;
    border-radius: 60%;
    margin: 5px 5px;
 
}

ul {
    display: flex;
    gap: 100px;
}

nav ul li {
    background-color: rgb(0, 71, 71);
    margin: 5px;
    display: inline-block;
    padding: 20px 10px;
    font-family: 'Righteous', cursive;
    margin-right: 60px;
    border-radius: 60%;
    margin-left: 120px;
}

a {
    color: #fffbf3;
    text-decoration: underline ;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80%;
    gap: 20px;

}
main p {
    background-color: rgb(92 132 15);
    font-family: fantasy;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: o 1px 1px 1px black;
    box-shadow: 3px 5px 15px 4px black;
    padding: 30px;
    text-align: center;
}

body main table {
    background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=pexels-pixabay-531880.jpg&fm=jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

table {
    text-align: center;
    border-radius: 10%;
    box-shadow: blue;
    box-shadow: 5px 8px 19px 5px black;
}
td, th {
    border: 3px solid black;
    padding: 10px;
}

td {
    text-align: left;
    height: 120px;
    vertical-align: middle;
    font-size: 30px;
}

th {
    color: rgb(174, 9, 9);
    font-size: 50px;
}

.first {
    
}

footer {
    justify-content: space-around;
    background-color: rgb(34, 34, 34);
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    
}


#copy-right, #social-media {
    color: azure;

}




